

.profile_details_section {
    width: 100%;
    padding: 50px 0;
    background-image: url(../public/images/before-login-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    .profile_details_heading {
        margin-bottom: 30px;
        h1 {
            font-size: 35px;
            font-weight: 600;
            line-height: 43px;
            color: #333333;
        }
    }
    .profile_details_box {
        background: #fff;
        border: 1px solid #E4E3E3;
        box-shadow: 0px 12px 40px 0px #FF452312;
        padding: 35px;
        border-radius: 27px;
        display: flex;
        flex-wrap: wrap;
        .profile_details_box_left {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            position: relative;
            margin: auto;
            .profile_details_box_image {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                overflow: hidden;
                border: solid 5px #D9D9D9;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .edit_profile_icon {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background: #E7E7E7;
                position: absolute;
                right: 0;
                bottom: 10px;
                z-index: 2;
                .camera_icon {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                input {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    opacity: 0;
                    cursor: pointer;
                }
            }
        }
        .profile_details_box_right {
            width: calc(100% - 150px);
            padding-left: 30px;
            @media only screen and (min-width: 240px) and (max-width: 767px) {
                width: 100%;
                padding: 0;
            }
            .profile_details_box_right_top {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    flex-wrap: wrap;
                    margin-bottom: 15px;
                }
                @media only screen and (min-width: 240px) and (max-width: 767px) {
                    flex-wrap: wrap;
                    margin-bottom: 15px;
                }
                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 33px;
                    color: #333333;
                    text-transform: capitalize;
                    @media only screen and (min-width: 240px) and (max-width: 767px) {
                        font-size: 22px;
                    }
                }
                button {
                    background: #DB2302;
                    padding: 8px 12px;
                    border-radius: 6px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    border: none;
                    text-transform: capitalize;
                    &:focus {
                        border: none;
                        box-shadow: none;
                        outline: none;
                    }
                    @media only screen and (min-width: 240px) and (max-width: 767px) {
                        width: 75px;
                    }
                }
            }
            .profile_details_box_right_middle {
                width: 100%;
                height: auto;
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    li {
                        margin-right: 15px;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19px;
                        color: #333333;
                        img {
                            margin-right: 5px;
                        }
                        a {
                            color: #333333;
                        }
                    }
                }
                .business_type {
                    width: 100%;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 15px;
                    color: #7F818D;
                    margin-top: 20px;
                    span {
                        background: #D9D9D9;
                        padding: 10px 16px;
                        color: #022335;
                        display: inline-block;
                        border-radius: 4px;
                        font-family: Work Sans;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19px;
                        margin-right: 15px;
                        @media only screen and (min-width: 240px) and (max-width: 767px) {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            .profile_details_box_right_bottom {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
                @media only screen and (min-width: 240px) and (max-width: 767px) {
                    flex-wrap: wrap;
                    row-gap: 10px;
                    margin-top: 0;
                }
                .profile_details_box_right_bottom_left {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    color: #7F818D;
                    p {
                        margin-bottom: 0;
                        span {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 19px;
                            color: #333333;
                            margin-left: 10px;
                        }
                    }
                }
                .profile_details_box_right_bottom_right {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    span {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                        color: #4FD992;
                        margin-right: 10px;
                    }
                    .form-control {
                        height: auto;
                        background: #fff;
                        border: 1px solid #DBDBDB;
                        padding: 12px 16px;
                        border-radius: 4px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 23px;
                        color: #7F818D;
                    }
                }
            }
        }
    }
    .profile_info_main {
        width: 100%;
        margin-top: 50px;
        .profile_info_tab_list {
            width: 100%;
            ul {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @media only screen and (min-width: 240px) and (max-width: 767px) {
                    flex-wrap: wrap;
                }
                li {
                    margin-right: 25px;
                    @media only screen and (min-width: 576px) and (max-width: 767px) {
                        width: auto;
                        margin-right: 10px;
                    }
                    @media only screen and (min-width: 240px) and (max-width: 575px) { 
                        width: 100%;
                        margin-right: 0;
                    }
                    a {
                        padding: 15px 35px;
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 22px;
                        color: #7F818D;
                        background: linear-gradient(0deg, #E4E3E3, #E4E3E3), linear-gradient(0deg, #EEEDF0, #EEEDF0);
                        border: 1px solid #E4E3E3;
                        border-radius: 10px 10px 0 0;
                        @media only screen and (min-width: 576px) and (max-width: 767px) {
                            padding: 10px 25px;
                            font-size: 15px;
                        }
                        @media only screen and (min-width: 240px) and (max-width: 575px) { 
                            width: 100%;
                            border-radius: 0;
                            text-align: center;
                        }
                    }
                }
                li.active {
                    a {
                        background: #DB2302;
                        color: #fff;
                    }
                }
            }
        }
        .profile_info_tab_content {
            width: 100%;
            padding: 50px 35px 30px;
            background: #fff;
            box-shadow: 0px 12px 40px 0px #FF452312;
            border: 1px solid #E4E3E3;
            @media only screen and (min-width: 240px) and (max-width: 767px) {
                padding: 30px 15px 15px;
            }
            hr {
                width: 100%;
                height: 1px;
                margin: 30px 0;
                background: transparent;
                border: none;
                border-bottom: 2px dashed #DBDBDB;
            }
            .profile_info_main_box {
                width: 100%;
                .profile_details_section_wrap {
                    width: 100%;
                    padding-top: 10px;
                    .profile_details_section_top {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-bottom: 20px;
                        @media only screen and (min-width: 240px) and (max-width: 767px) {
                            flex-wrap: wrap;
                        }
                        h2 {
                            font-size: 26px;
                            font-weight: 600;
                            line-height: 33px;
                            color: #333333;
                            text-transform: capitalize;
                            @media only screen and (min-width: 240px) and (max-width: 767px) {
                                font-size: 22px;
                            }
                        }
                        button {
                            background: #DB2302;
                            padding: 8px 12px;
                            border-radius: 6px;
                            color: #fff;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 24px;
                            border: none;
                            text-transform: capitalize;
                            &:focus {
                                border: none;
                                box-shadow: none;
                                outline: none;
                            }
                            @media only screen and (min-width: 240px) and (max-width: 767px) {
                                width: 75px;
                            }
                        }
                    }
                    .profile_details_section_content {
                        width: 100%;
                        .profile_details_content_list {
                            width: 100%;
                            padding: 15px 0;
                            .profile_details_content_list_label {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 16px;
                                color: #7F818D;
                                text-transform: capitalize;
                            }
                            .profile_details_content_list_content {
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 22px;
                                color: #333333;
                                label {
                                    font-size: 18px;
                                    font-weight: 600;
                                    line-height: 21px;
                                    color: #333333;
                                    margin-bottom: 15px;
                                }
                                p {
                                    margin: 0;
                                    a {
                                        font-weight: 700;
                                        color: #DB2302;
                                    }
                                }
                                .tag {
                                    padding: 15px;
                                    span {
                                        padding: 10px 22px;
                                        font-size: 16px;
                                        font-weight: 500;
                                        line-height: 19px;
                                        color: #022335;
                                        display: inline-block;
                                        border-radius: 4px;
                                        margin: 0 10px 10px 0;
                                        background: linear-gradient(0deg, #E4E3E3, #E4E3E3), linear-gradient(0deg, #EEEDF0, #EEEDF0);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .review_rating_main_box {
                width: 100%;
                .review_rating_box_top {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media only screen and (min-width: 768px) and (max-width: 991px) {
                        flex-wrap: wrap;
                    }
                    @media only screen and (min-width: 240px) and (max-width: 767px) {
                        flex-wrap: wrap;
                    }
                    .review_rating_box_top_left {
                        display: flex;
                        align-items: flex-start;
                        @media only screen and (min-width: 768px) and (max-width: 991px) {
                            flex-wrap: wrap;
                        }
                        @media only screen and (min-width: 240px) and (max-width: 767px) {
                            flex-wrap: wrap;
                        }
                        h2 {
                            font-size: 26px;
                            font-weight: 600;
                            line-height: 30px;
                            color: #333333;
                            margin-right: 30px;
                            @media only screen and (min-width: 240px) and (max-width: 767px) {
                                font-size: 22px;
                            }
                        }
                        .rating_part {
                            display: flex;
                            flex-wrap: wrap;
                            h5 {
                                font-size: 24px;
                                font-weight: 500;
                                line-height: 28px;
                                margin-right: 10px;
                                margin-bottom: 0;
                                color: #333333;
                            }
                            span {
                                margin-right: 5px;
                            }
                            p {
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 20px;
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 20px;
                                color: #7F818D;
                                margin: 10px 0 0;
                                @media only screen and (min-width: 240px) and (max-width: 767px) {
                                    margin: 5px 0 0;
                                }
                            }
                        }
                    }
                    .review_rating_box_top_right {
                        button {
                            background: #DB2302;
                            padding: 12px 22px;
                            border-radius: 2px;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 24px;
                            border: none;
                            text-transform: capitalize;
                            @media only screen and (min-width: 240px) and (max-width: 767px) {
                                font-size: 16px;
                                padding: 8px 16px;
                                font-size: 14px;
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .review_rating_box_middle {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-top: 30px;
                    @media only screen and (min-width: 240px) and (max-width: 767px) {
                        justify-content: flex-start;
                    }
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        @media only screen and (min-width: 240px) and (max-width: 767px) {
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            column-gap: 8px;
                        }
                        li {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 16px;
                            color: #333333;
                            @media only screen and (min-width: 240px) and (max-width: 767px) {
                                margin-bottom: 8px;
                                &:nth-child(1) {
                                    width: 100%;
                                    text-align: left;
                                }
                            }
                            button {
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 18px;
                                color: #7F818D;
                                padding: 15px 35px;
                                border: 1px solid #7F818D4D;
                                border-radius: 50px;
                                margin-left: 8px;
                                &:focus {
                                    outline: none;
                                    box-shadow: none;
                                }
                                @media only screen and (min-width: 240px) and (max-width: 767px) {
                                    margin: 0;
                                    font-size: 14px;
                                    padding: 10px 20px;
                                }
                            }
                            .active_button {
                                color: #4FD992;
                                border: 1px solid #4FD9924D;
                                background: linear-gradient(0deg, rgba(79, 217, 146, 0.07), rgba(79, 217, 146, 0.07));
                            }
                        }
                    }
                }
                .review_rating_box_bottom {
                    width: 100%;
                    .review_main_box {
                        width: 100%;
                        display: flex;
                        column-gap: 25px;
                        @media only screen and (min-width: 240px) and (max-width: 767px) {
                            flex-wrap: wrap;
                            column-gap: 0;
                            row-gap: 15px;
                        }
                        .review_box {
                            width: 33.33%;
                            border-radius: 15px;
                            border: 1px solid #DBDBDB;
                            padding: 20px;
                            @media only screen and (min-width: 240px) and (max-width: 767px) {
                                width: 100%;
                            }
                            .review_box_top {
                                width: 100%;
                                display: flex;
                                align-items: flex-start;
                                @media only screen and (min-width: 768px) and (max-width: 991px) {
                                    flex-wrap: wrap;
                                }
                                .review_box_top_icon {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .review_box_top_user {
                                    width: calc(100% - 50px);
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 20px;
                                    color: #7F818D;
                                    padding-left: 15px;
                                    @media only screen and (min-width: 768px) and (max-width: 991px) {
                                        width: 100%;
                                        padding: 0;
                                        margin-top: 10px;
                                    }
                                    .review_box_top_user_head {
                                        display: flex;
                                        align-items: flex-start;
                                        justify-content: space-between;
                                        h4 {
                                            font-size: 18px;
                                            font-weight: 600;
                                            line-height: 21px;
                                            color: #333333;
                                            margin: 0;
                                        }
                                    }
                                    .review_box_top_user_bottom {
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        margin-top: 5px;
                                        @media only screen and (min-width: 768px) and (max-width: 991px) {
                                            flex-wrap: wrap;
                                        }
                                        @media only screen and (min-width: 240px) and (max-width: 767px) { 
                                            flex-wrap: wrap;
                                        }
                                        span {
                                            line-height: normal;
                                            &:last-child {
                                                margin-left: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                            .review_box_bottom {
                                width: 100%;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 24px;
                                color: #7F818D;
                                padding-top: 15px;
                                a {
                                    font-weight: 600;
                                    color: #6E6F73;
                                }
                            }
                        }
                    }
                    .loading_sec {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 22px;
                        color: #DB2302;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        column-gap: 15px;
                        margin-top: 30px;
                        margin-bottom: 15px;
                        .lds-default {
                            display: inline-block;
                            position: relative;
                            width: 35px;
                            height: 35px;
                            div {
                                position: absolute;
                                width: 5px;
                                height: 5px;
                                background: #DB2302;
                                border-radius: 50%;
                                animation: lds-default 1.2s linear infinite;
                                &:nth-child(1) {
                                    animation-delay: 0s;
                                    top: 83%;
                                    left: 82%;
                                }
                                &:nth-child(2) {
                                    animation-delay: -0.1s;
                                    top: 50%;
                                    left: 90%;
                                }
                                &:nth-child(3) {
                                    animation-delay: -0.2s;
                                    top: 5px;
                                    left: 85%;
                                }
                                &:nth-child(4) {
                                    animation-delay: -0.3s;
                                    top: 0;
                                    left: 50%;
                                }
                                &:nth-child(5) {
                                    animation-delay: -0.4s;
                                    top: 5px;
                                    left: 5px;
                                }
                                &:nth-child(6) {
                                    animation-delay: -0.5s;
                                    top: 50%;
                                    left: 0;
                                }
                                &:nth-child(7) {
                                    animation-delay: -0.6s;
                                    top: 85%;
                                    left: 5px;
                                }
                                &:nth-child(8) {
                                    animation-delay: -0.7s;
                                    top: 90%;
                                    left: 50%;
                                }
                                @keyframes lds-default {
                                    0%, 20%, 80%, 100% {
                                      transform: scale(1);
                                    }
                                    50% {
                                      transform: scale(1.5);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.company_profile_details {
    .profile_details_box {
        .profile_details_box_left {
            width: 177px;
            height: 174px;
            border-radius: 15px;
            .profile_details_box_image {
                border-radius: 15px;
                border: 1px solid #E4E3E3;
            }
        }
        .profile_details_box_right {
            width: calc(100% - 177px);
            @media only screen and (min-width: 240px) and (max-width: 767px) {
                width: 100%;
                padding: 0;
            }
            .profile_details_box_right_top {
                
            }
            .profile_details_box_right_middle {
                ul {
                    li {
                        font-weight: 600;
                        span {
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 15px;
                            color: #7F818D;
                        }
                    }
                }
            }
        }
    }
    .profile_info_main {
        .profile_info_tab_list {

        }
        .profile_info_tab_content {
            .profile_info_main_box {
                .profile_details_section_wrap {
                    .profile_details_section_content {
                        .company_about_box {
                            padding: 0 0 0 30px;
                        }
                        .branch_information_box {
                            border: 1px solid #E8E8E8;
                            border-radius: 10px;
                            margin-bottom: 30px;
                            .branch_information_box_top {
                                padding: 15px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                .branch_information_box_top_left {
                                    font-size: 18px;
                                    font-weight: 600;
                                    line-height: 22px;
                                    color: #333333;
                                    ul {
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        @media only screen and (min-width: 240px) and (max-width: 767px) {
                                            flex-wrap: wrap;
                                        }
                                        li {
                                            margin-right: 10px;
                                            font-size: 16px;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                            .branch_information_box_bottom {
                                padding-top: 50px;
                                border-top: 1px solid #E8E8E8;
                                .branch_photo {
                                    width: 144px;
                                    height: 132px;
                                    border-radius: 15px;
                                    border: 1px solid #E4E3E3;
                                    margin-top: 15px;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .product_main_box {
        .profile_details_section_top {
            .products_sec_wrap {
                .product_sec_list {
                    .product_list_part {
                        margin-bottom: 30px ;
                    }
                }
            }
        }
    }
}