.addRegistrationform-sec {}

.sticky-section {
    position: sticky;
    top: 0;
}

.addRegistrationform-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.addRegistrationform-wrapper {
    display: flex;

    div[contenteditable=true] {
        background: #efefef;
        border-radius: 40px;
        padding: 10px 15px;
        margin-bottom: 8px;
        font-size: 14px;
        border: 1px solid #e7e7e7;

        &:focus {
            background: #fff !important;
        }
    }

    @media (max-width: 1199px) {
        flex-direction: column;
    }

    .addRegistrationform-left {
        .add_qest_row_top_text {

            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #000000;
            margin: 0 0 8px;
        }
    }


    .add_qest {
        display: flex;
        align-items: center;

        .custom-form-s1 {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .custom-btn-skyblue {
            width: 74px;
            height: 55px;
            border-radius: 0px 5px 5px 0px;
            flex: 0 0 auto;
        }
    }

    .after_add_qest_preview {
        overflow: hidden;

        ul {
            li {
                display: flex;
                align-items: flex-start;
                padding: 14px 15px;

                &:not(:first-child) {
                    border-top: 1px solid #eee;
                }

                .liststyle-container {
                    margin: 1px 0 0;

                    img {
                        width: 15px;
                        -webkit-filter: brightness(35%);
                        -moz-filter: brightness(35%);
                        filter: brightness(35%);
                    }

                    svg {
                        width: 14px;

                        path {
                            fill: #000;
                        }
                    }
                }

                .text-container {
                    width: calc(100% - 75px);
                    padding: 0 8px;

                    p {
                        margin: 1.5px 0 0;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        color: #000000;
                        overflow-wrap: break-word;
                        word-wrap: break-word;
                    }
                }

                .actbtn-container {
                    margin-left: auto;
                    display: flex;
                    column-gap: 6px;
                    flex: 0 0 auto;

                    .circle-btn {
                        width: 24.18px;
                        height: 24.18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;

                        &.editbtn {
                            background: #DCE1FF;
                            img{
                                -webkit-filter: brightness(35%);
			-moz-filter: brightness(35%);
			filter: brightness(35%);
                            }
                        }

                        &.delbtn {
                            background: #F5CBCB;
                        }
                    }
                }
            }
        }
    }

    .fix-row {
        margin: 0 -5px;

        .fix-col {
            padding: 0 5px;
        }
    }

    .custom-divider {
        height: 1px;
        background-color: #DFDFDF;
    }
}

.addRegistrationform-submit-box {
    display: flex;
    justify-content: center;
    border-top: 1px solid #DFDFDF;
    padding: 24px 0;
    column-gap: 23px;

    @media (max-width: 1199px) {
        margin-top: 10px;
    }

    button {
        width: 246px;
        height: 56px;
        font-weight: 600;
    }
}

.addRegistrationform-left {
    width: 100%;
    max-width: 352px;
    border-right: 1px solid #CCCCCC;

    @media (max-width: 1199px) {
        max-width: unset;
    }

    .headerPart {
        padding: 31px 0px;
        margin: 0 24px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E0E1E2;

        @media (max-width: 1199px) {
            padding: 18px 15px 14px 15px;
            margin: 0 15px 15px;
        }

        @media (max-width: 575px) {
            padding: 13px 15px 12px;
            margin: 0 10px 15px;
        }

        h2 {

            font-weight: 500;
            font-size: 14px;
            color: #000000;

            @media (max-width: 575px) {
                font-size: 16px;
            }
        }

        .mobile_res_togglebtn {
            display: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            margin: 0 0 0 10px;
            background: #022335;
            color: #fff;

            @media (max-width: 1199px) {
                display: flex;
            }
        }
    }

    .navlistPart {
        padding: 0 24px;

        .close2 {
            @media (min-width: 1200px) {
                display: none;
            }

            cursor: pointer;
            background: transparent;
            border: 0;
            padding: 0;
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 2;

            img {
                width: 16px;
            }

            @media (max-width: 480px) {
                right: 10px;
                top: 10px;

                img {
                    width: 14px;
                }
            }
        }

        @media (max-width: 1199px) {
            position: fixed;
            left: 0;
            top: 0;
            padding: 48px 24px 8px;
            background: #fff;
            z-index: 999999;
            height: 100%;
            width: 100%;
            transition: all .3s ease-out;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            overflow-x: hidden;
            overflow-y: auto;
            display: block;

            &.show {
                -webkit-transform: translateX(-0%);
                transform: translateX(-0%);
            }
        }

        @media (max-width: 480px) {
            padding: 45px 15px 4px;
        }

        .chkLabel_list_box {
            .chkLabelrow {
                width: 100%;

                .form-group {
                    @media (max-width: 575px) {
                        font-size: 14px;
                    }
                }

                label {
                    max-width: calc(100% - 48px);
                    width: unset;
                    margin: 0;

                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.01em;
                    color: #000000;

                    @media (max-width: 480px) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                input {
                    margin-left: 8px;
                }
            }
        }

        h4 {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #000000;
            margin: 10px 0 16px;

            @media (max-width: 575px) {
                font-size: 16px;
                line-height: 20px;
                margin: 10px 0 10px;
            }
        }

        ul {
            margin: 20px 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            @media (max-width: 1199px) {
                margin: 0px;
            }

            li {
                @media (max-width: 1199px) {
                    padding: 0px;
                }

                .custom-add-field-box {
                    background: #FFFFFF;
                    border: 1px solid #E0E1E2;
                    border-radius: 5px;
                    height: 55px;
                    display: flex;
                    align-items: center;
                    padding: 3px 14px;
                    cursor: pointer;

                    .icon-container {
                        flex: 0 0 auto;
                        width: 38px;

                        img {
                            // max-width: 18px;
                            -webkit-filter: brightness(35%);
                            -moz-filter: brightness(35%);
                            filter: brightness(35%);
                        }
                    }
                }

                a {
                    display: flex;
                    align-items: center;

                    font-weight: normal;
                    font-size: 13px;
                    line-height: 22px;
                    letter-spacing: 0.01em;
                    color: #65676B;
                    padding: 0 16px 0 21px;
                    height: 40px;
                    border-radius: 20px 0px 0px 20px;

                    @media (max-width: 1199px) {
                        padding: 8px 0;
                        height: unset;
                        font-size: 16px;
                    }

                    @media (max-width: 480px) {
                        padding: 5px 0px;
                        font-size: 14px;
                    }

                    span {
                        width: calc(100% - 16px);
                        padding-left: 16px;

                        @media (max-width: 575px) {
                            padding-left: 8px;
                        }

                        .offline {
                            display: inline-block;
                            width: 9px;
                            height: 9px;
                            border-radius: 50%;
                            background: red;
                            margin-left: 3px;
                            flex: 0 0 auto;
                        }

                        .online {
                            display: inline-block;
                            width: 9px;
                            height: 9px;
                            border-radius: 50%;
                            background: green;
                            margin-left: 3px;
                            flex: 0 0 auto;
                        }
                    }

                    img {

                        width: 16px;

                        @media (max-width: 1199px) {
                            width: 20px;
                        }

                        @media (max-width: 480px) {
                            width: 16px;
                        }
                    }

                    &.active

                    /* ,&:hover */
                        {
                        background-color: #4444B2;
                        color: #fff;
                        position: relative;

                        img {
                            -webkit-filter: brightness(0) invert(1);
                            filter: brightness(0) invert(1);
                        }

                        @media (max-width: 1199px) {
                            background-color: transparent;
                            color: #000;

                            img {
                                -webkit-filter: unset;
                                filter: unset;
                            }

                            &::after {
                                content: "";
                                clear: both;
                                position: absolute;
                                left: -24px;
                                top: 0;
                                height: 100%;
                                width: 5px;
                                background-color: #4444B2;
                                border-radius: 0 5px 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.max-width-unset {
    max-width: unset !important;
}

.addRegistrationform-middle {
    width: 100%;
    max-width: calc(100% - calc(352px + 352px));
    position: relative;

    .react-datepicker-popper {
        z-index: 5 !important;
    }

    // .custom-form-s1 {
    //     z-index: 6;
    //     position: relative;
    // }
    .exp-date-grp {
        display: flex;
        align-items: center;
        position: relative;

        label {
            font-size: 14px;
            line-height: 22px;
            font-weight: 500;
            margin-right: 8px;
        }

        .react-datepicker-wrapper {
            .react-datepicker__input-container {
                input {
                    text-align: center;
                    border: 1px solid #ffd2d2;
                    border-radius: 5px;
                    padding: 4px 5px;
                    background: #ffeded;
                    font-size: 15px;
                    width: 102px;
                    color: #df2b2b;
                }
            }
        }

        .react-datepicker__tab-loop {
            position: absolute;
            top: 34px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 7;

            .react-datepicker-popper {
                .react-datepicker__triangle {
                    display: none !important;
                }

                transform: translateX(-50%) !important;
                left: unset !important;
                top: calc(100% + 0px) !important;
                margin-top: 0 !important;
            }
        }
    }

    textarea.custom-form-s1 {
        height: 140px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .after_add_qest_preview {
        background: #fff;
        border-radius: 5px !important;
    }

    @media (max-width: 1199px) {
        max-width: unset;
    }

    .center-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: 10;

        &.fixed2 {
            position: fixed;
        }
    }

    .backBtntop {
        background-color: #4444b2;
        color: #fff;
        border: 0;
        outline: none;
        padding: 4px 16px;
        font-size: 14px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin-right: 4px;
        }
    }

    .copyBtn {
        background-color: #4444b2;
        color: #fff;
        border: 0;
        outline: none;
        padding: 4px 16px;
        font-size: 14px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin-right: 4px;
        }
    }

    .headerPart {
        display: flex;
        padding: 27px 61px 18px;
        border-bottom: 1px solid #DFDFDF;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        row-gap: 4px;

        @media (max-width: 575px) {
            row-gap: 2px;
            padding: 14px 61px 14px;
        }

        .custom-form-s1 {
            text-align: center;
            text-align-last: center;
            -moz-text-align-last: center;
        }

        h2 {
            font-weight: 600;
            font-size: 28px;
            line-height: 28px;
            color: #1B2733;

            @media (max-width: 575px) {
                font-size: 20px;
                line-height: 20px;
            }

            .custom-form-s1 {
                height: 45px;
                width: 100%;
                max-width: 230px;
                padding: 0 10px;
            }
        }

        h4 {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #626262;
        }

        .editBtn {
            position: absolute;
            right: 19px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 2;
            width: 40px;
            height: 40px;
            background: rgba(81, 104, 244, 0.13);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                -webkit-filter: brightness(35%);
                -moz-filter: brightness(35%);
                filter: brightness(35%);
            }
        }

    }

    .bodyPart {
        padding: 13px 13px;

        @media (max-width: 1199px) {
            padding: 15px 10px;
        }

        .dragDrop-group-header {
            display: flex;
            justify-content: space-between;
            column-gap: 15px;
            align-items: center;
            margin-bottom: 14px;

            h4 {
                text-transform: capitalize;
                margin: 0;
                font-size: 16px;
                color: #000;
                font-weight: 600;
            }

            .rg-actions-buttons {
                display: flex;
                align-items: center;
                column-gap: 10px;

                .circle-btn {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #02233521;

                    img {
                        -webkit-filter: brightness(35%);
                        -moz-filter: brightness(35%);
                        filter: brightness(35%);
                    }

                    &.updown-btn {
                        img {
                            max-width: 15px;
                            transition: .5s;
                        }

                        &.down {
                            img {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    &.drag-btn {
                        cursor: grab;

                        img {
                            max-width: 16px;
                        }
                    }

                    &.close-btn {
                        svg {
                            max-width: 11px;
                        }
                    }
                }
            }
        }

        .drag-drop-content-lists {
            &:not(.show) {
                display: none;
            }

            .drag-drop-content-list-item {
                margin-bottom: 14px;

                .drag-drop-content-list-box {
                    position: relative;
                    background: #F3F2FA;
                    border: 1px solid #F3F2FA;
                    border-radius: 3px;
                    padding: 14px 20px 16px 20px;

                    &:hover,
                    &:focus,
                    &:active {
                        border: 1px solid #022335;

                        .label-w-rg-del-btn {
                            .rg-actions {
                                display: flex;
                            }
                        }
                    }

                    &:active {
                        background: #e1ddff;
                    }

                    .ckeditior-ss {
                        max-height: 220px;

                        @media (max-width: 480px) {
                            max-height: 190px;
                        }
                    }

                    .drag-drop-overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 0px;
                        text-indent: 100%;
                        width: 100%;
                        height: 100%;
                        cursor: grab;
                        z-index: 2;
                    }

                    .label-w-rg-del-btn {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 8px;

                        label {
                            margin: 0;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 24px;
                            color: #000000;
                        }

                        .rg-actions {
                            display: none;
                            align-items: center;
                            column-gap: 14px;
                            flex: 0 0 auto;

                            button {
                                display: flex;
                                align-items: center;
                                font-weight: 400;
                                font-size: 13px;
                                line-height: 24px;
                                background-color: transparent;
                                column-gap: 5px;
                                flex: 0 0 auto;
                                position: relative;
                                z-index: 5;
                            }

                            .settings_btn {
                                color: #022335;

                                img {
                                    width: 15px;
                                }
                            }

                            .del_btn {
                                color: #F52222;
                            }
                        }
                    }
                }
            }
        }
    }

}

.addRegistrationform-right {
    width: 100%;
    max-width: 352px;
    padding: 0 26px 0 20px;
    border-left: 1px solid #CCCCCC;

    .close2 {
        @media (min-width: 1200px) {
            display: none;
        }

        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0;
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 2;

        img {
            width: 16px;
        }

        @media (max-width: 480px) {
            right: 10px;
            top: 10px;

            img {
                width: 14px;
            }
        }
    }

    .div-modal-footer {
        display: none;
        justify-content: center;
        border-top: 2px solid #DFDFDF;
        padding: 24px 0 0;
        margin-top: 10px;

        .themebtn-blue {
            background-color: #4444b2;
            color: #fff;
            text-transform: uppercase;
            padding: 0 51px;
            font-size: 18px;
            border-radius: 23px;

            font-weight: 500;
            letter-spacing: 1px;
            transition: .3s;
            border: 0;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 575px) {
                height: 36px;
                font-size: 14px;
                padding: 0 42px;
            }
        }
    }

    @media (max-width: 1199px) {
        max-width: unset;
        border: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100%;
        height: 100%;
        background-color: #00000099;
        display: none;

        &.show {
            display: block;
        }

        .sticky-section {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            max-width: 520px;
            max-height: 100%;
            background: #fff;
            overflow: auto;
            box-shadow: 0 2px 20px #00000033;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, .2);
            padding: 32px 24px 24px;

            .headerPart {
                padding: 0 0px 10px;
                margin-bottom: 10px;
            }
        }

        .div-modal-footer {
            display: flex;
        }

    }

    @media (max-width: 480px) {
        .sticky-section {
            padding: 24px 16px 16px;
        }
    }

    @media (max-width: 575px) {
        padding: 0;

        .sticky-section {
            border: 0;
            border-radius: 0;
            position: relative;
            transform: translate(0);
            max-width: unset;
            height: 100%;
            top: unset;
            left: unset;
        }
    }

    .headerPart {
        padding: 31px 0;
        border-bottom: 1px solid #DFDFDF;

        h2 {
            margin: 0;

            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #000000;

            @media (max-width: 575px) {
                font-size: 16px;
                line-height: 20px;
            }

        }
    }

    .from-content-box {
        padding: 20px 0;

        textarea.custom-form-s1 {
            height: 80px;
        }

        .checkboxdiv {
            display: flex;
            align-items: flex-start;
        }

        .after_add_qest_preview {
            background: #F5F5F5;
            margin-top: 15px;
        }
    }

    .custom-form-group {
        margin-bottom: 15px;
    }

    .chklabeldiv {
        display: flex;

        .customChk-s1 {
            margin: 3px 0 0;
        }

        label {
            margin: 0;
            width: calc(100% - 20px);
            padding: 0 0 0 8px;
            color: #000000;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }
    }
}